{% load static %}
<footer class="footer footer-2 dark-bg pos-r">
    <div class="primary-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-logo mb-3">
              <img id="footer-logo-img" class="img-center" src="{%  static 'images/logo-yale-blue.png' %}" alt="">
            </div>
            <p class="mb-3">لورم ایپسوم به راحتی متن ساختاری چاپ و نشر را در بر میگیرد, لورم ایپسوم استاندارد صنعت بوده است.</p>
            <ul class="list-unstyled working-hours clearfix">
              <li><span>06:00 الی 17:00 </span> شنبه - پنجشنبه</li>
              <li><span>تعطیل</span>  جمعه</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 sm-mt-5 footer-list pl-md-5">
            <h5>دسترسی <span class="text-theme"> سریع</span></h5>          
            <ul class="list-unstyled">
              <li><a href="#"><i class="fas fa-angle-left"></i> درباره ما</a>
              </li>
              <li><a href="#"><i class="fas fa-angle-left"></i> تماس با ما</a>
              </li>
              <li><a href="#"><i class="fas fa-angle-left"></i> تیم ما</a>
              </li>
              <li><a href="#"><i class="fas fa-angle-left"></i> حریم خصوصی</a>
              </li>
              <li><a href="#"><i class="fas fa-angle-left"></i> شرایط و ضوابط</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 md-mt-5 footer-list">
            <h5>راه <span class="text-theme"> حل</span></h5>
            <ul class="list-unstyled">
              <li><a href="chemical-research.html"><i class="fas fa-angle-left"></i> تحقیقات شیمیایی</a>
              </li>
              <li><a href="energy-&-power-engineering.html"><i class="fas fa-angle-left"></i> انرژی و قدرت</a>
              </li>
              <li><a href="petroleum-and-gas.html"><i class="fas fa-angle-left"></i> نفت و گاز</a>
              </li>
              <li><a href="agriculture-engineering.html"><i class="fas fa-angle-left"></i> مهندسی کشاورزی</a>
              </li>
              <li><a href="mechanical-engineering.html"><i class="fas fa-angle-left"></i> مهندسی مکانیک</a>
              </li>
              <li><a href="civil-engineering.html"><i class="fas fa-angle-left"></i> مهندسی عمران</a>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>
    <div class="secondary-footer">
      <div class="container">
        <div class="copyright">
          <div class="row text-center">
            <div class="col-md-12"> <span><a target="_blank" href="https://www.hamkav.com">پیاده سازی در راه کارهای فن آوری هم کاو</a> | همه حقوق محفوظ است</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>