
    {% load static %}
        <!--header start-->
    <div class="top-bar">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4">
            <div class="topbar-link text-right">
              <ul class="list-inline">
                <li class="list-inline-item"><a href="mailto:info@mentolink.com"><i class="far fa-envelope-open"></i>info@mentolink.com</a>
                </li>
                <li class="list-inline-item" direction="ltr">
                  <a href="tel:+05138706667"> <i class="fas fa-mobile-alt"></i>05138706667</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 text-center">
            <a class="navbar-brand logo mr-0" href="index.html">
                <img id="logo-img2" class="img-center" src="{%  static 'images/logo-yale-blue.png' %}" alt="">
              </a>          
          </div>
          <div class="col-md-4 col-sm-6 text-left">
            <div class="social-icons social-hover top-social-list text-left">
              <ul class="list-inline">
                <li class="social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="social-gplus"><a href="#"><i class="fab fa-google-plus-g"></i></a>
                </li>
                <li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="social-linkedin"><a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--header end-->

    
  