{% comment %} <div class="markdownx row">
     <div class="col-md-6">
        {% include 'django/forms/widgets/textarea.html' %}
    </div> 
   
    <div class="col-md-6">
        <div class="markdownx-preview "></div>
    </div>
</div> {% endcomment %}




<div class="markdownx row" style="display:flex;">
    <div class="column" style="flex: 50%;">
        {% include 'django/forms/widgets/textarea.html' %}
    </div>
    <div class="column" style="flex: 50%;">
        <div class="markdownx-preview"></div>
    </div>
</div>