{% load static %}

<div class=" justify-content-lg-between mb-4  ">
    <!-- Social media button -->

    <!-- Popular tags -->
    <div class="align-items-center">
        <h6 class="my-3 me-4 d-inline-block">برچسب های پست:</h6>
        <ul class="list-inline mb-0 social-media-btn">
            <li class="list-inline-item m-1"> <a class="btn btn-light btn-sm mb-lg-0 shadow-hover" href="#">بلاگ</a> </li>
            <li class="list-inline-item m-1"> <a class="btn btn-light btn-sm mb-lg-0 shadow-hover" href="#">استارت آپ</a> </li>
            <li class="list-inline-item m-1"> <a class="btn btn-light btn-sm mb-lg-0 shadow-hover" href="#">bootstrap</a> </li>
            <li class="list-inline-item m-1"> <a class="btn btn-light btn-sm mb-lg-0 shadow-hover" href="#">بانک اطلاعاتی</a> </li>
            <li class="list-inline-item m-1"> <a class="btn btn-light btn-sm mb-lg-0 shadow-hover" href="#">طراحی وب</a> </li>
        </ul>
    </div>
<hr>
        <!-- Popular tags -->
        <div class="align-items-center">
            <h6 class="my-3 mt-2 me-4 d-inline-block ">  شاید به این ها هم علاقه داشته باشید</h6>
            <ul class="list-inline mb-0 social-media-btn">
                <li class="list-inline-item m-1"> <a class="btn btn-light btn-sm mb-lg-0 shadow-hover" href="#">بلاگ</a> </li>
                <li class="list-inline-item m-1"> <a class="btn btn-light btn-sm mb-lg-0 shadow-hover" href="#">استارت آپ</a> </li>
                <li class="list-inline-item m-1"> <a class="btn btn-light btn-sm mb-lg-0 shadow-hover" href="#">bootstrap</a> </li>
                <li class="list-inline-item m-1"> <a class="btn btn-light btn-sm mb-lg-0 shadow-hover" href="#">بانک اطلاعاتی</a> </li>
                <li class="list-inline-item m-1"> <a class="btn btn-light btn-sm mb-lg-0 shadow-hover" href="#">طراحی وب</a> </li>
            </ul>
        </div>

</div>