<div class="contact-main">
    <h2 class="title mb-4">با ما <span>تماس </span> بگیرید</h2> 

{% comment %} <form method="post">
 
  <input type = 'submit'>
</form> {% endcomment %}

{% comment %} <button class="btn btn-border btn-radius"><span>ارسال</span>
</button> {% endcomment %}

  <form  method="post" >
    {% comment %} {{form}} {% endcomment %}
     {% csrf_token %}

      <div class="messages"></div>
      <div class="form-group">
        <input id="form_name" type="text" name="full_name" class="form-control" placeholder="نام کاربری شما" required="required" data-error="نام کاربری شما الزامی است.">
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <input id="form_email" type="email" name="email" class="form-control" placeholder="ایمیل شما" required="required" data-error="ایمیل شما الزامی است.">
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="تلفن" required="required" data-error="تلفن شما الزامی است.">
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <textarea id="form_message" name="message" class="form-control" placeholder="پیام شما" rows="4" required="required" data-error="پیام شما الزامی است."></textarea>
        <div class="help-block with-errors"></div>
      </div> 
      <button class="btn btn-border btn-radius"><span>ارسال</span>
      </button>
    </form> 

  </div>