{% extends 'HamkavEduShop/HamkavEduShop_base.html' %} 
{% load static %}
{% block blog_content %}





	<section class="pt-0">
	<!-- Main banner background image -->
{% comment %} 	
	<div class="container-fluid px-0">
		<div class="bg-light h-100px h-md-50px rounded-0" style="background:url(assets/images/pattern/04.png) no-repeat center center; background-size:small;"></div>
	</div> {% endcomment %}

	<div class="container mt-n4">
		<div class="row">
			<!-- Profile banner START -->
			<div class="col-12">
				<div class="card bg-transparent card-body p-0 px-2">
					<div class="row d-flex justify-content-between">
						<!-- Avatar -->
						 <div class="col-auto mt-4 mt-md-0">
							<div class="avatar avatar-xl mt-6">
								<img class="avatar-img rounded-circle border border-white border-3 shadow" src="{% static 'assets/images/avatar/01.jpg' %}" alt="">
							</div>
						</div> 
						<!-- Profile info -->
						<div class="col d-md-flex justify-content-between align-items-center mt-4">
							<div>
								<h1 class="my-4 fs-5"> {{request.user.full_name}} <i class="bi bi-patch-check-fill text-blue small"></i></h1>
								<ul class="list-inline mb-0">
									<li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fas fa-star text-blue me-2"></i>4.5/5.0</li>
									<li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fas fa-user-graduate text-blue me-2"></i>0 شرکت کننده</li>
									<li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fas fa-book text-blue me-2"></i>0 دوره</li>
									{% comment %} <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fas fa-book text-blue me-2"></i>0 مقالات</li> {% endcomment %}
								</ul>
							</div>
							<!-- Button -->
							<div class="d-flex align-items-center mt-2 mt-md-0">
								{% comment %} <a href="instructor-create-course.html" class="btn btn-success mb-0">افزودن دوره</a> {% endcomment %}
							</div>
						</div>
					</div>
				</div>
				<!-- Profile banner END -->

				<!-- Advanced filter responsive toggler START -->
				<!-- Divider -->

				<hr class="d-xl-none">
				<div class="col-12 col-xl-3 d-flex justify-content-center">
					{% comment %} <a class="h6 mb-0 fw-bold d-xl-none" href="#">منوی کاربری</a> {% endcomment %}
					<button class="btn  btn-secondary-shadow d-xl-none text-dark " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
						{% comment %} <i class="fas fa-sliders-h"> مشاهده منو </i> {% endcomment %}
						 منوی پروفایل
					</button>
				</div>
				<!-- Advanced filter responsive toggler END -->

			</div>
		</div>
	</div>
</section>





<section class="p-0">
	<div class="container">
		<div class="row">
			<!-- Left sidebar START -->
			<div class="col-xl-3">
				<!-- Responsive offcanvas body START -->
				<div class="offcanvas-xl offcanvas-end  " tabindex="-1" id="offcanvasSidebar">
					<!-- Offcanvas header -->
					<div class="offcanvas-header   ">
						<h5 class="offcanvas-title" id="offcanvasNavbarLabel">پروفایل</h5>
						<button  type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
					</div>
					<!-- Offcanvas body -->
                    
					    <div class="offcanvas-body p-3 p-xl-0 ">
						<div class="bg-blue bg-gradient border rounded-3 pb-0 p-2 w-100">
							<!-- Dashboard menu -->
							<div class="list-group list-group-dark list-group-borderless">
                                <a class="list-group-item active" href="{% url 'HamkavEduShop:profile_dashboard' %}"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>داشبورد</a>
								<a class="list-group-item " href="{% url 'HamkavEduShop:profile_posts' %}"><i class="bi bi-basket fa-fw me-2"></i> مقالات</a>
								<a class="list-group-item" href="#"><i class="bi bi-basket fa-fw me-2"></i>  دوره ها </a>
								<a class="list-group-item" href="#"><i class="bi bi-basket fa-fw me-2"></i>  دوره ها به عنوان  داشنجو  </a>
								<a class="list-group-item" href="#"><i class="bi bi-question-diamond fa-fw me-2"></i>  آزمون و گواهینامه ها  </a>
								<a class="list-group-item" href="#"><i class="bi bi-folder-check fa-fw me-2"></i> وبینار ها</a>
								<a class="list-group-item" href="#"><i class="bi bi-question-diamond fa-fw me-2"></i>  رزومه  </a>
								{% comment %} <a class="list-group-item" href="#"><i class="bi bi-graph-up fa-fw me-2"></i>آنالیز و تحلیل درآمدها</a> {% endcomment %}
								<a class="list-group-item" href="#"><i class="bi bi-people fa-fw me-2"></i> دنبال شوندگان </a>
								<a class="list-group-item" href="#"><i class="bi bi-star fa-fw me-2"></i> تبادل پیام</a>
								<a class="list-group-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>ویرایش مشخصات</a>
								<a class="list-group-item" href="#"><i class="bi bi-wallet2 fa-fw me-2"></i>   حسابداری</a>
								<a class="list-group-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>تنظیمات</a>
								<a class="list-group-item" href="#"><i class="bi bi-trash fa-fw me-2"></i> غیرفعال سازی حساب کاربری </a>
								{% comment %} <a class="list-group-item text-danger bg-danger-soft-hover" href="#"><i class="fas fa-sign-out-alt fa-fw me-2"></i>خروج</a> {% endcomment %}
							</div>
                            
						</div>





					</div>
				</div>
				<!-- Responsive offcanvas body END -->
			</div>
			<!-- Left sidebar END -->

			<!-- Main content START -->
			<div class="col-xl-9">

{% block profile_pages%}{% endblock profile_pages%}

			</div>
			<!-- Main content END -->
		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->

</main>
{% endblock %} {% block blog_extra_js %}
<script></script>

{% comment %} <script>
	var app = Vue.createApp({
		data() {
			return {
				message: "Ciao",
				class_name: "d-none",
			};
		},
		// for global
		delimiters: ["[[", "]]"],
		// for standalone
		compilerOptions: {
			delimiters: ["[[", "]]"],
		},
	}).mount("#app");
</script> {% endcomment %}

{% endblock %}
