<nav class="navbar navbar-expand-xl nav-category">
    <div class="container px-0">

        <!-- Responsive navbar toggler -->
        <button class="navbar-toggler m-auto w-100" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse2" aria-controls="navbarCollapse2" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-grid-fill"></i> دسته بندی
        </button>

        <!-- Main navbar START -->
        <div class="navbar-collapse w-100 collapse" id="navbarCollapse2">
            <!-- Nav Main menu START -->
            <ul class="navbar-nav navbar-nav-scroll mx-auto">
                <!-- Nav item 1 link -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">برنامه نویسی</a>
                    <ul class="dropdown-menu" aria-labelledby="demoMenu">
                        <li> <a class="dropdown-item" href="#">طراحی وب</a> </li>
                        <li> <a class="dropdown-item" href="#">بانک های اطلاعاتی</a> </li>
                        <li> <a class="dropdown-item" href="#">برنامه نویسی موبایل</a> </li>
                        <li> <a class="dropdown-item" href="#">برنامه نویسی وب</a> </li>
                        <li> <a class="dropdown-item" href="#">سیستم عامل</a> </li>
                        <li> <a class="dropdown-item" href="#">مهندسی نرم افزار</a> </li>
                        <li> <a class="dropdown-item" href="#">مدیریت پروژه</a> </li>
                </ul>
                </li>

                <!-- Navmitem 2 link -->
                <li class="nav-item"><a class="nav-link" href="#">حسابداری مالی</a></li>

                <!-- Nav item 3 link -->
                <li class="nav-item"><a class="nav-link" href="#">مهندسی نرم افزار</a></li>

                <!-- Nav item 4 link-->
                <li class="nav-item"><a class="nav-link" href="#">فناوری و اطلاعات</a></li>

                <!-- Nav item 5 link-->
                <li class="nav-item"><a class="nav-link" href="#">نگارش آکادمیک</a></li>

            </ul>
        </div>
        <!-- Main navbar END -->
        </div> 
</nav>