{% extends 'base.html' %}
{% load static %}


{% block extra_css_file%}
<link rel="stylesheet" type="text/css" href="{%  static 'assets/vendor/simplemde/rtl/simplemde-rtl.min.css' %}">
<link rel="stylesheet" type="text/css" href="{%  static 'assets/vendor/simplemde/rtl/simplemde-custom.css' %}">
<link rel="stylesheet" type="text/css" href="{%  static 'assets/vendor/highlights/default.min.css' %}">
{% endblock%}

{% block extra_css %}



<style>
  
    .editor-statusbar .words:before {
        content: 'کلمه: ';
    }

    .editor-statusbar .lines:before {
        content: 'خط: ';
    }
   
		.pagination-primary-soft .page-link {
			border: transparent;
			border-radius: 0.325rem !important;
			color: #000000b8;
			background-color:white
		}

        .pagination-primary-soft .page-item.active .page-link {
            color: var(--bs-white);
            background-color: #000000b8;
        }
        .pagination-primary-soft .page-link:hover {
            z-index: 2;
            color: var(--bs-white);
            background-color: #000000b8;
            border-color: black;
        }

        .markdownview  code
        {
            /*
            border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
            font-family: monospace;
            */
            font-size: 15px;
            overflow-x: auto;
        }








</style>
{% endblock %}

{% block level1_menu%}

{% if request.user.is_authenticated %}
    <li class="nav-item dropdown"><a class="btn btn-primary mb-0 p-1 mt-2" href="{% url 'HamkavBlog:post_create' %}"> نوشتن </a></li>
{% else %}

{% endif %}

{% if request.user.is_admin %}{% endif %} 




{% endblock%}




{% block content %}
<div class="bg-light">
    {% block blog_content %}{% endblock %}
</div>
{% endblock %}





{% block extra_js_file%}
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="{%  static 'assets/vendor/simplemde/rtl/simplemde-rtl.min.js' %}"></script>
<script src="{%  static 'assets/js/simpleMDEconfig.js' %}"></script>
<script src="{%  static 'assets/vendor/highlights/highlight.min.js' %}"></script>


{% endblock%}


{% block extra_js %}
    {% block blog_extra_js %}


     <script>hljs.highlightAll();</script> 
    

    {% endblock %}
{% endblock %}
