
{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}


<section class="bg-light">
	<div class="container pt-3 mt-0 mt-lg-5">

		<!-- Title and SVG START -->
		<div class="row position-relative mb-0 mb-sm-5 pb-0 pb-lg-5">
			<div class="col-lg-8 text-center mx-auto position-relative">

				
				
				<!-- Title -->
				<h1>مقالات و فیلم های آموزشی رایگان از برترین مربیان</h1>
				<p> از امروز شروع کنید چیزی جدیدی یاد بگیرید و با پشتیبانی مربیان دلسوز منتولینک تا آخرین گام حمایت ما را داشته باشید </p>
				
				<!-- Search course -->
				<div class="col-md-8 text-center mx-auto pb-5">
					<form class="bg-body shadow rounded p-2">
						<div class="input-group">
							<input class="form-control border-0 me-1" type="search" placeholder="جستجو...">
							<button type="button" class="btn btn-primary mb-0 rounded z-index-1"><i class="fas fa-search"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Title and SVG END -->
	</div>
</section>