
{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}


<section>
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="fs-3">انتخاب دسته بندی</h2>
				<p class="mb-0">با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
			</div>
		</div>

		<div class="row g-4">
			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card card-body bg-success bg-opacity-10 text-center position-relative btn-transition p-4">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/data-science.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-2"><a href="#" class="stretched-link">بانک اطلاعاتی</a></h5>
					<h6 class="mb-0 fw-normal">15 دوره آموزشی</h6>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card card-body bg-orange bg-opacity-10 text-center position-relative btn-transition p-4">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/online.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-2"><a href="#" class="stretched-link">فناوری اطلاعات</a></h5>
					<h6 class="mb-0 fw-normal">22 دوره آموزشی</h6>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card card-body bg-danger bg-opacity-10 text-center position-relative btn-transition p-4">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/engineering.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-2"><a href="#" class="stretched-link">مهندسی عمران</a></h5>
					<h6 class="mb-0 fw-normal">53 دوره آموزشی</h6>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card card-body bg-purple bg-opacity-10 text-center position-relative btn-transition p-4">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/coding.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-2"><a href="#" class="stretched-link">طراحی وب</a></h5>
					<h6 class="mb-0 fw-normal">25 دوره آموزشی</h6>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card card-body bg-info bg-opacity-10 text-center position-relative btn-transition p-4">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/profit.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-2"><a href="#" class="stretched-link">حسابداری</a></h5>
					<h6 class="mb-0">20 دوره آموزشی</h6>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card card-body bg-blue bg-opacity-10 text-center position-relative btn-transition p-4">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/medical.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-2"><a href="#" class="stretched-link">کمک های اولیه</a></h5>
					<h6 class="mb-0 fw-normal">10 دوره آموزشی</h6>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card card-body bg-warning bg-opacity-15 text-center position-relative btn-transition p-4">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/home.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-2"><a href="#" class="stretched-link">معماری</a></h5>
					<h6 class="mb-0 fw-normal">30 دوره آموزشی</h6>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card card-body bg-dark bg-opacity-10 text-center position-relative btn-transition p-4">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/artist.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-2"><a href="#" class="stretched-link">هنر</a></h5>
					<h6 class="mb-0 fw-normal">35 دوره آموزشی</h6>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card card-body bg-purple bg-opacity-10 text-center position-relative btn-transition p-4">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/photography.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-2"><a href="#" class="stretched-link">عکاسی</a></h5>
					<h6 class="mb-0 fw-normal">20 دوره آموزشی</h6>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card card-body bg-danger bg-opacity-10 text-center position-relative btn-transition p-4">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/music.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-2"><a href="#" class="stretched-link">موزیک</a></h5>
					<h6 class="mb-0 fw-normal">10 دوره آموزشی</h6>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card card-body bg-success bg-opacity-10 text-center position-relative btn-transition p-4">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/marketing.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-2"><a href="#" class="stretched-link">استارت آپ</a></h5>
					<h6 class="mb-0 fw-normal">30 دوره آموزشی</h6>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card card-body bg-primary bg-opacity-10 text-center position-relative btn-transition p-4">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/account.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-2"><a href="#" class="stretched-link">آمار و داده کاوی</a></h5>
					<h6 class="mb-0 fw-normal">35 دوره آموزشی</h6>
				</div>
			</div>
		</div>
	</div>
</section>