
{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}

<section class="pt-0 pt-md-5">
	<div class="container">
		<!-- Title -->
		<div class="row">
			<div class="col-lg-8 mb-4">
				<h2 class="mb-0">آخرین  <span class="text-warning">دوره های </span> منتولینک</h2>

				{% comment %} <h2 class="fs-3 mb-0">دوره های ویژه جشنواره</h2> {% endcomment %}
				<p class="mb-0">برترین‌های هفته   </p>
			</div>
		</div>

		<div class="row g-4">
			<!-- Card Item START -->
			<div class="col-md-6 col-lg-4 col-xxl-3">
				<div class="card p-2 shadow h-100">
					<div class="rounded-top overflow-hidden">
						<div class="card-overlay-hover">
							<!-- Image -->
							<img src="{% static 'assets/images/courses/2.jpeg'%}" class="card-img-top " alt="course image">
						</div>
						<!-- Hover element -->
						<div class="card-img-overlay  bg-overlay bg-dark bg-blur opacity-50 ">
							<div class="card-element-hover d-flex justify-content-end">
								<a href="#" class="icon-md bg-white rounded-circle">
									<i class="fas fa-shopping-cart text-danger"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- Card body -->
					<div class="card-body px-2">
						<!-- Badge and icon -->
						<div class="d-flex justify-content-between">
							<!-- Rating and info -->
							<ul class="list-inline hstack gap-2 mb-0">
								<!-- Info -->
								<li class="list-inline-item d-flex justify-content-center align-items-center  ">
									{% comment %} <div class="icon-md  text-orange rounded-circle"><img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/01.jpg'%}" alt="avatar"></div> {% endcomment %}
									<span class="h6 fw-light mb-0 ms-1">مربی</span>
								</li>
								<!-- Rating -->
								
							</ul>
							<!-- Avatar -->
							
						</div>
						<!-- Divider -->
						<hr>
						<!-- Title -->
						<h6 class="card-title fw-normal"><a href="#">آموزش ساخت سایت خبری با لاراول</a></h6>
						<hr>

						<!-- Badge and Price -->
						<div class="d-flex justify-content-between align-items-center mb-0">
							<div><a href="#" class="badge  text-dark me-2"><i class="fa fa-clock"></i> 02:57</a></div>
							<div><a href="#" class="badge  text-dark me-2"> 120 هزارتومان</a></div>
							<!-- Price -->
							
						</div>
					</div>
				</div>
			</div>	
			<!-- Card Item END -->

						<!-- Card Item START -->
						<div class="col-md-6 col-lg-4 col-xxl-3">
							<div class="card p-2 shadow h-100">
								<div class="rounded-top overflow-hidden">
									<div class="card-overlay-hover">
										<!-- Image -->
										<img src="{% static 'assets/images/courses/2.jpeg'%}" class="card-img-top " alt="course image">
									</div>
									<!-- Hover element -->
									<div class="card-img-overlay  bg-overlay bg-dark bg-blur opacity-50 ">
										<div class="card-element-hover d-flex justify-content-end">
											<a href="#" class="icon-md bg-white rounded-circle">
												<i class="fas fa-shopping-cart text-danger"></i>
											</a>
										</div>
									</div>
								</div>
								<!-- Card body -->
								<div class="card-body px-2">
									<!-- Badge and icon -->
									<div class="d-flex justify-content-between">
										<!-- Rating and info -->
										<ul class="list-inline hstack gap-2 mb-0">
											<!-- Info -->
											<li class="list-inline-item d-flex justify-content-center align-items-center  ">
												{% comment %} <div class="icon-md  text-orange rounded-circle"><img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/01.jpg'%}" alt="avatar"></div> {% endcomment %}
												<span class="h6 fw-light mb-0 ms-1">مربی</span>
											</li>
											<!-- Rating -->
											
										</ul>
										<!-- Avatar -->
										
									</div>
									<!-- Divider -->
									<hr>
									<!-- Title -->
									<h6 class="card-title fw-normal"><a href="#">  آموزش RabbitMq   </a></h6>
									<hr>
			
									<!-- Badge and Price -->
									<div class="d-flex justify-content-between align-items-center mb-0">
										<div><a href="#" class="badge  text-dark me-2"><i class="fa fa-clock"></i> 02:57</a></div>
										<div><a href="#" class="badge  text-dark me-2"> 120 هزارتومان</a></div>
										<!-- Price -->
										
									</div>
								</div>
							</div>
						</div>	
						<!-- Card Item END -->
									<!-- Card Item START -->
			<div class="col-md-6 col-lg-4 col-xxl-3">
				<div class="card p-2 shadow h-100">
					<div class="rounded-top overflow-hidden">
						<div class="card-overlay-hover">
							<!-- Image -->
							<img src="{% static 'assets/images/courses/2.jpeg'%}" class="card-img-top " alt="course image">
						</div>
						<!-- Hover element -->
						<div class="card-img-overlay  bg-overlay bg-dark bg-blur opacity-50 ">
							<div class="card-element-hover d-flex justify-content-end">
								<a href="#" class="icon-md bg-white rounded-circle">
									<i class="fas fa-shopping-cart text-danger"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- Card body -->
					<div class="card-body px-2">
						<!-- Badge and icon -->
						<div class="d-flex justify-content-between">
							<!-- Rating and info -->
							<ul class="list-inline hstack gap-2 mb-0">
								<!-- Info -->
								<li class="list-inline-item d-flex justify-content-center align-items-center  ">
									{% comment %} <div class="icon-md  text-orange rounded-circle"><img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/01.jpg'%}" alt="avatar"></div> {% endcomment %}
									<span class="h6 fw-light mb-0 ms-1">مربی</span>
								</li>
								<!-- Rating -->
								
							</ul>
							<!-- Avatar -->
							
						</div>
						<!-- Divider -->
						<hr>
						<!-- Title -->
						<h6 class="card-title fw-normal"><a href="#"> آموزش Celery </a></h6>
						<hr>

						<!-- Badge and Price -->
						<div class="d-flex justify-content-between align-items-center mb-0">
							<div><a href="#" class="badge  text-dark me-2"><i class="fa fa-clock"></i> 02:57</a></div>
							<div><a href="#" class="badge  text-dark me-2"> 120 هزارتومان</a></div>
							<!-- Price -->
							
						</div>
					</div>
				</div>
			</div>	
			<!-- Card Item END -->

									<!-- Card Item START -->
			<div class="col-md-6 col-lg-4 col-xxl-3">
				<div class="card p-2 shadow h-100">
					<div class="rounded-top overflow-hidden">
						<div class="card-overlay-hover">
							<!-- Image -->
							<img src="{% static 'assets/images/courses/2.jpeg'%}" class="card-img-top " alt="course image">
						</div>
						<!-- Hover element -->
						<div class="card-img-overlay  bg-overlay bg-dark bg-blur opacity-50 ">
							<div class="card-element-hover d-flex justify-content-end">
								<a href="#" class="icon-md bg-white rounded-circle">
									<i class="fas fa-shopping-cart text-danger"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- Card body -->
					<div class="card-body px-2">
						<!-- Badge and icon -->
						<div class="d-flex justify-content-between">
							<!-- Rating and info -->
							<ul class="list-inline hstack gap-2 mb-0">
								<!-- Info -->
								<li class="list-inline-item d-flex justify-content-center align-items-center  ">
									{% comment %} <div class="icon-md  text-orange rounded-circle"><img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/01.jpg'%}" alt="avatar"></div> {% endcomment %}
									<span class="h6 fw-light mb-0 ms-1">مربی</span>
								</li>
								<!-- Rating -->
								
							</ul>
							<!-- Avatar -->
							
						</div>
						<!-- Divider -->
						<hr>
						<!-- Title -->
						<h6 class="card-title fw-normal"><a href="#">  آموزش هوش تجاری    </a></h6>
						<hr>

						<!-- Badge and Price -->
						<div class="d-flex justify-content-between align-items-center mb-0">
							<div><a href="#" class="badge  text-dark me-2"><i class="fa fa-clock"></i> 02:57</a></div>
							<div><a href="#" class="badge  text-dark me-2"> 120 هزارتومان</a></div>
							<!-- Price -->
							
						</div>
					</div>
				</div>
			</div>	
			<!-- Card Item END -->
						<!-- Card Item START -->
						<div class="col-md-6 col-lg-4 col-xxl-3">
							<div class="card p-2 shadow h-100">
								<div class="rounded-top overflow-hidden">
									<div class="card-overlay-hover">
										<!-- Image -->
										<img src="{% static 'assets/images/courses/2.jpeg'%}" class="card-img-top " alt="course image">
									</div>
									<!-- Hover element -->
									<div class="card-img-overlay  bg-overlay bg-dark bg-blur opacity-50 ">
										<div class="card-element-hover d-flex justify-content-end">
											<a href="#" class="icon-md bg-white rounded-circle">
												<i class="fas fa-shopping-cart text-danger"></i>
											</a>
										</div>
									</div>
								</div>
								<!-- Card body -->
								<div class="card-body px-2">
									<!-- Badge and icon -->
									<div class="d-flex justify-content-between">
										<!-- Rating and info -->
										<ul class="list-inline hstack gap-2 mb-0">
											<!-- Info -->
											<li class="list-inline-item d-flex justify-content-center align-items-center  ">
												{% comment %} <div class="icon-md  text-orange rounded-circle"><img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/01.jpg'%}" alt="avatar"></div> {% endcomment %}
												<span class="h6 fw-light mb-0 ms-1">مربی</span>
											</li>
											<!-- Rating -->
											
										</ul>
										<!-- Avatar -->
										
									</div>
									<!-- Divider -->
									<hr>
									<!-- Title -->
									<h6 class="card-title fw-normal"><a href="#"> آموزش بینایی ماشینی </a></h6>
									<hr>
			
									<!-- Badge and Price -->
									<div class="d-flex justify-content-between align-items-center mb-0">
										<div><a href="#" class="badge  text-dark me-2"><i class="fa fa-clock"></i> 02:57</a></div>
										<div><a href="#" class="badge  text-dark me-2"> 120 هزارتومان</a></div>
										<!-- Price -->
										
									</div>
								</div>
							</div>
						</div>	
						<!-- Card Item END -->
		<!-- Button -->
		<div class="text-center mt-5">
			<a href="#" class="btn btn-primary-soft">مشاهده همه<i class="fas fa-sync ms-2"></i></a>
		</div>
	</div>
</section>